* {
    margin: 0;
    padding: 0;
}

.principalTitle {
    padding-top: 15px;
    text-align: center;
    color: #235347;
}

.paragraphContainer {
    padding: 15px 100px;
    display: flex;
    align-items: center;

    .principalParagraph {
        text-align: center;
    }
}

.formContainer {
    display: flex;
    justify-content: center;

    .formSubcontainer {
        display: flex;
        border: 3px solid #235347;
        background-color: #8eb69b;
        display: flex;
        flex-direction: column;
        width: 300px;
        text-align: center;
        padding: 5px 20px;
        border-radius: 5px;


        .formSections {
            margin-top: 15px;

            label {
                margin-bottom: 5px;
            }

            input {
                border-radius: 5px;
                border: 1px solid #235347;
                padding: 0 3px;
                font-size: 15px;
            }

            button {
                padding: 5px 10px;
                background-color: #235347;
                color: white;
                border-radius: 5px;
                border: 1px solid #235347;
                margin: 0 0 10px 0;
            }
        }
    }
}

.navbar-container {
    width: 100%;
    display: flex;
    color: white;
    background-color: #8eb69b;
    justify-content: space-between;
    height: 60px;
    padding: 1rem;
    position: relative;

    .navbar-sections {
        font-weight: bold;
        font-size: 1rem;
        display: flex;

        p {
            margin-left: 5px;
            margin-bottom: 0;
            cursor: pointer;
        }

        ul {
            display: flex;
            margin-bottom: 0;
            ;

            .categories-sections {
                padding: 0px 30px;
                list-style: none;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    color: #235347;
                }
            }
        }
    }
}

.widget-container {
    margin-right: 10px;
    cursor: pointer;

    .widget {
        margin-right: 10px;
        display: flex;
    }

    .widget-number {
        background-color: #235347;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        position: relative;
        top: -10px;
        right: -10px;

        p {
            font-size: 10px;
            color: white;
        }
    }
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
}

#carrito {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 1px black;
    z-index: 20;
}

.oculto {
    display: none;
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .cardContainer {
        margin: 10px;
        border: 3px solid #8eb69b;
        border-radius: 5px;
        width: 300px;
        /* display: flex; */

        .imgCardContainer {
            padding: 5px 5px 0px 5px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .bodyCardContainer {
            padding: 0px 5px 5px 5px;

            .titleCardContainer {
                display: flex;
                justify-content: center;

                h4 {
                    color: #235347;
                    height: 60px;
                    text-align: center;
                }
            }

            .descriptionCardContainer {
                display: flex;
                justify-content: center;
                padding: 5px;
                text-align: center;

                p {
                    margin-bottom: 0px;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }

            .buttonCardContainer {
                display: flex;
                justify-content: center;
                margin: 5px 0px;

                .buttonCard {
                    background-color: #8eb69b;
                    color: white;
                    padding: 5px;
                    border-radius: 5px;
                    border: 1px solid #8eb69b;
                    transition: 0.3s;

                    &:hover {
                        background-color: #235347;
                        border: 1px solid #235347;
                    }
                }
            }
        }
    }
}